---
#restart: unless-stopped
#restart: on-failure

services:

    rss-bridge:
        image: ghcr.io/rss-bridge/rss-bridge:2025-08-05
        container_name: rss-bridge
        restart: unless-stopped
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/Stockholm
        volumes:
            - ./config:/config
            # - ./config.custom.ini.php:/config/config.ini.php
            - ./bridges:/app/bridges/
            # - ./whitelist.custom.txt:/app/whitelist.txt
        ports:
            - 3030:80
        logging:
            driver: "json-file"
            options:
                max-size: "200k"
                max-file: "10"
